<% include ../partials/header %>
<div class="ui grid container">
    <div class="sixteen wide column">

        <div class="ui segment">
            <form action="/m/new" method="post" class="ui form">
                <div class="field">
                <input type="text" name="name" id="" placeholder='Movie name goes here...'>
                </div>
                <div class="field">
                <input type="submit" value="Add movie!" class="ui button">
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>