<% include ../partials/header %>

<div class="ui container">
    <form action="/m/new" method="post" class="ui form">
        <input type="text" name="name" id="">
        <input type="submit" value="Add movie!" class="ui button">
    </form>
</div>

<% include ../partials/footer %>